<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="cn.garymb.ygomobile.lite">

    <application>
        <activity
            android:name="cn.garymb.ygomobile.ui.online.MyCardActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Mycard"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
    </application>

</manifest>